/*TELA DE LOGIN*/

.form-simple input[type="text"] {
    margin-bottom: 15px;
    border-bottom-right-radius: 0.25rem;
    border-bottom-left-radius: 0.25rem;
}

form .form-group {
    margin-bottom: 0.5rem;
}

html body.bg-full-screen-image {
    background: #497965;
}

/*PACIENTES*/
.table th, .table td {
    padding: 0.2rem .7rem;
}

.table th p, .table td p {
    margin-bottom: 0px;
}

.media {
    align-items: center;
}